<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: #bae467;
            height: 100vh;
        }
    </style>

</head>

<body>

    <div style="text-align-last: center;">
        <h1>You Have  Logged In </h1>
       

    </div>
    
    <div style="text-align: center;">


        <a href="logoutt"><button type="button" class="btn btn-primary" id="log_in">logout</button></a>

    </div>


</body>

</html>